
@{
    ViewBag.Title = "404";
}

<h1>Page not found. You'll be redirected shortly...</h1>

<script>
    let urlParams = new URLSearchParams(window.location.search);
    let redirect = urlParams.get('urlRedirect');

    if (redirect)
    {
        setTimeout(function () { window.location = redirect; }, 2000);
    }
</script>
