@model UserSecurityAnswerViewModel

<div class="row">
    <label class="control-label col-lg-4">@Model.SecurityQuestion.Question</label>
    <div class="col-lg-8">
        <input asp-for="Answer" class="form-control" />
    </div>
</div>
