@model UserCredentialsViewModel
@{ ViewBag.Title = PageTitles.ForgotPassword; }

@section scripts {
    <script src="~/lib/jquery-validate/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
}

<h1>Password Reset</h1>

<form role="form" method="post" class="form-horizontal" asp-action="@Names.AccountsControllerForgotPassword" asp-controller="@Names.Accounts">
    <div class="form-row my-2">
        <label asp-for="Username" class="control-label col-2"></label>
        <div class="col-4">
            <input asp-for="Username" class="form-control" />
            <span class="text-danger" asp-validation-for="Username"></span>
        </div>
    </div>
    <div class="form-group">
        <partial name="_SecurityQuestions" model="Model.SecurityAnswers" />
        <span class="text-danger" asp-validation-for="SecurityAnswers"></span>
    </div>

    <div class="form-row my-2">
        <label asp-for="Password" class="control-label col-2"></label>
        <div class="col-4">
            <input asp-for="Password" class="form-control" />
            <span class="text-danger" asp-validation-for="Password"></span>
        </div>
    </div>

    <div class="form-row my-2">
        <label asp-for="ConfirmPassword" class="control-label col-2"></label>
        <div class="col-4">
            <input asp-for="ConfirmPassword" class="form-control" />
            <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
        </div>
    </div>

    <div class="form-row my-2">
        <div class="col-2 offset-2">
            <input type="submit" value="Reset Password" class="btn btn-primary form-control" />
        </div>
    </div>
</form>
